.App {
  text-align: center;
  background: url("assets/unnamed.jpg") no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: #89c247;
  margin-top: 20px;
}
*{
  font-family:ocr-b-std, monospace;
}
body{
  position:relative;
  background-color: red;
}
.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color:rgb(190, 162, 173);
  font-family: Cursive;
  position: relative;
}

.App-link {
  color: #89c247;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navWholeStyle {
  background-color: 'rgba(0,0,0,0)';
}

.footer{
  width: 100%;
  text-align: center;
  line-height: 3em;
  height: 3em;
  bottom: 0;
}

.gametitle{
  animation: bgColor 1.5s infinite linear;
}
@keyframes bgColor {
  0% {
    opacity: 0;
    color: 	#FF77FF;
  }
  50% {
    opacity: 0.5;
    color: 	#66FFFF;
  }
  100% {
    opacity: 1;
    color: 	#FF8888;
  }
}
.navStyle:hover{
  border-radius: 80%;
  background-color: 			#99FF33;
}
.homepageH3{
  color:	#99FF33;
  font-size:30px;
  padding-left:20%;
  height:2em;
}
